<!DOCTYPE html>
<html>
    <head>
        <title>Hello Vue</title>
 
    </head>

    <body>
        <div id="app">
            {{message}}
        </div>

        <!--v-bind 鼠标悬停-->
        <div id="app-2">
            <span v-bind:title="message">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>

        <!--v-if 切换控制-->
        <div id="app-3">
            <p v-if="seen">Here it is.</p>
        </div>

        <!--v-for 绑定数组的数据来渲染一个项目列表-->
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>

        <!--v-on` 指令添加一个事件监听器-->
        <div id="app-5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">逆转消息</button>
        </div>

        <!--v-model` 指令 实现表单输入和应用状态之间的双向绑定-->
        <div id="app-6">
            <p>{{message}}</p>
            <input v-model="message">
        </div>
        
        <div id="app-7">
            <ol>
                <!--创建一个todo-item组件的实例-->
                <todo-item v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>


        <!--计算属性-->
        <div id="app-8">
            <p>Original message:"{{message}}"</p>
            <p>Computed reversed message:"{{reverseMessage}}"</p>
        </div>


        <!--调用methods计算属性-->
        <div id="app-9">
            <p>Original message:"{{message}}"</p>
            <p>Computed reversed message:"{{reverseMessage()}}"</p>
        </div>

        <!--计算属性set-->
        <div id="app-10">
            {{fullName}}
        </div>

        <!--侦听器-->
        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{answer}}</p>
        </div>
        
        <template v-if="loginType==='username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>

        <!--v-for渲染列表-->
        <ul id="example-1">
            <li v-for="item in items">
                {{item.message}}
            </li>
        </ul>

        <ul id="example-2">
            <li v-for="(item,index) in items">
                {{parentMessage}}-{{index}}-{{item.message}}
            </li>
        </ul>

        <ul id="v-for-object" class="demo">
            <li v-for="(value,name,index) in object">
               {{index}}.{{name}}: {{value}}
            </li>
        </ul>

        <!--创建计算属性返回过滤后的结果-->
        <ul id="number">
        <li v-for="n in evenNumbers">
            {{n}}
        </li>
        </ul>

        <div id="example-3">
            <button v-on:click="counter+=1">Add 1</button>
            <p>The button above has been clicked {{ counter}} times.</p>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="hello.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    </body>
</html>

